extends layout.pug

block content
  .form-container.text-center
    h1.mb-3 Logout
    p.mb-4 Are you sure you want to log out?
    
    form(action="/account/logout", method="post")
      button.btn(type="submit") Confirm Logout
    
    .mt-4
      button.btn.btn-outline(onclick="window.history.back()") Go Back