extends layout.pug

block content
  .form-container
    h1.mb-3 Sign Up
    form(action="/account/signup", method="post")
      .form-group
        label(for="username") Username
        input(type="text", id="username", name="username", required)
      
      .form-group
        label(for="email") Email
        input(type="email", id="email", name="email", required)
      
      .form-group
        label(for="password") Password
        input(type="password", id="password", name="password", required)
      
      button.btn(type="submit") Sign Up
    .mt-4.text-center
      p Already have an account? 
        a(href="/account/login") Login